
*{
   margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
} 
body{
    background: linear-gradient(rgba(0,0,0,0.5),#009688),url(images/derma.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
    

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.signup-container h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 12px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button a{
    width: 150px;
    text-align: center;
   text-decoration: none;
   display: inline-block;
   margin: 0 10px;
   padding: 12px 0;
   color: #009688;
   border: .5px solid #000;
   z-index: 1;
   transition: color 0.5s;
}


*{
   margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
} 
body{
    background: linear-gradient(rgba(0,0,0,0.5),#009688),url(images/derma.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
    

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.signup-container h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 12px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button a{
    width: 150px;
    text-align: center;
   text-decoration: none;
   display: inline-block;
   margin: 0 10px;
   padding: 12px 0;
   color: #009688;
   border: .5px solid #000;
   z-index: 1;
   transition: color 0.5s;
}

 4a40d26f4cfb5c8be7c965dc401165e017be6eed
